# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
.DS_Store

# Local env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
# Optional npm cache
.npm

